/* Md responsive */
@media screen and (max-width: 1100px) {
    .recent-play .row {
        flex-wrap: wrap;
    }

    .recent-play .col {
        width: calc((100% / 4) - (1rem - (1rem / 4)));
    }
    
    .for-you .col,
    .popular-artists .col {
        width: calc((100% / 4) - (1rem - (1rem / 4)));
    }

    .player-1 {
        min-width: 15rem;
        max-width: 15rem;
    }

    .player-1 .track-info {
        width: 5rem;
    }

    .player-3 {
        width: 16rem;
    }
}

/* S responsive */
@media screen and (max-width: 700px) {
    .recent-play .col,
    .for-you .col,
    .popular-artists .col {
        width: calc(100% / 2 - (1rem - (1rem / 2)));
    }

    .player-1 .function {
        flex-direction: column;
        gap: 0.5rem;
    }

    .player-1,
    .player-2,
    .player-3 {
        width: calc(100% / 3);
    }
    
    .player-1 {
        min-width: unset;
        gap: 8%;
    }

    .player-3 {
        gap: 8%;
    }

}

/* Xs responsive */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 3.5rem;
    }

    .main-content {
        width: calc(100% - 3.5rem);
    }

    .side-nav {
        display: none;
    }

    .sidebar {
        padding: 0.3rem 0.7rem;    
    }

    .side-nav-slim {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }

    .menu {
        margin-top: 0.7rem;
        padding: 0.1rem;
        filter: contrast(50%)
    }

    .download img {
        width: 1.1rem;
        margin-bottom: 1.2rem;
        filter: contrast(50%);
    }

    .profile img {
        height: 1.8rem;
        width: 1.8rem;
        background-color: #808080;
        border-radius: 50%;
    }

    .player-1 .album {
        min-width: 2rem;
        max-width: 2rem;
    }

    .player-1 .track-info {
        width: unset;
    }

    .player-3 {
        justify-content: space-between;
        gap: 0.2rem;
    }

    .player-3 .bar {
        width: 50%;
    }
}