/* Sc responsive */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 3.5rem;
    }

    .main-content {
        width: calc(100% - 3.5rem);
    }

    .side-nav {
        display: none;
    }
}