/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Utilities */
.flex {
    display: flex;
}

/* Common */
body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Layout */
.section {
    display: flex;
    width: 100%;
    height: calc(100% - 6.5rem);
}

/* Sidebar */
.sidebar {
    background-color:  #000000;
    width: 16rem;
    height: 100%;
}

.side-nav {
    height: 100%;
    color: #717171;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.top-nav {
    flex-direction: column;
    gap: 1.5rem;
}

.menu,
.playlist {
    line-height: 2rem;
}

/* Main content */
.main-content {
    width: calc(100% - 16rem);
    height: 100%;
    flex-wrap: wrap;
}

/* Upgrade */
.upgrade {
    background-color: #080B12;
    color: #FFFFFF;
    padding-right: 0.5rem;
    text-align: end;
    line-height: 6.5rem;
    height: 6.5rem;
    width: 100%;
}

.button {
    padding: 1rem 3rem;
    border: 1.5px solid white;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Content */
.content {
    background-color:  #141922;
    width: 100%;
    height: calc(100% - 6.5rem);
    overflow: auto;
}

.category-nav {
    color: #797C80;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    padding: 0 1rem;
}

.category-nav li {
    display: inline-block;
    padding: 1.5rem 0.8rem;
}

.category-nav li:first-child {
    position: relative;
    padding: 0.3rem;
}

.category-nav li:first-child::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid #9FFF2F;
    width: 2rem;
}

/* Player */
.player {
    background-color: #282828;
    height: 6.5rem;
    width: 100%;
}