/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Utilities */
.flex {
    display: flex;
}

/* Common */
body {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Layout */
.section {
    display: flex;
    width: 100%;
    height: calc(100% - 6.5rem);
}

/* Sidebar */
.sidebar {
    background-color:  #000000;
    width: 16rem;
    height: 100%;
    overflow: auto;
    font-weight: 700;
    font-size: 0.9rem;
}

.side-nav {
    padding: 1.5rem 1.5rem 0.5rem;
    height: 100%;
    color: #717171;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.side-nav-slim {
    display: none;
}

.side-nav .top-nav {
    flex-direction: column;
    gap: 1.5rem;
}

.logo {
    width: 10rem;
}

.menu,
.playlist {
    line-height: 2.5rem;
}

.menu img {
    width: 2rem;
    filter: contrast(50%);
    margin-right: 0.3rem;
}

.home {
    position: relative;
    color: white;
}

.home:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: -1.5rem;
    border-right: 3px solid #9FFF2F;
}

.playlist h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1rem;
}

.playlist i {
    font-size: 3rem;
    color: #A3A3A3;
}

.create-playlist {
    align-items: center;
    gap: 0.8rem;
}

.create-playlist span {
    font-size: 1.1rem;
}

.download {
    gap: 0.7rem;
}

hr {
    margin: 1rem 0;
}

.download img {
    width: 1.1rem;
    filter: contrast(50%);
}

.profile {
    gap: 0.7rem;
    align-items: center;
    color: #FFFFFF;
    font-size: 1rem;
}

.profile img {
    height: 1.8rem;
    width: 1.8rem;
    background-color: #808080;
    border-radius: 50%;
}

/* Main content */
.main-content {
    width: calc(100% - 16rem);
    height: 100%;
    flex-wrap: wrap;
}

/* Upgrade */
.upgrade {
    background-color: #080B12;
    color: #FFFFFF;
    padding-right: 0.5rem;
    text-align: end;
    line-height: 6.5rem;
    height: 6.5rem;
    width: 100%;
}

.button {
    padding: 1rem 3rem;
    border: 1.5px solid white;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* Content */
.content {
    background-color:  #141922;
    width: 100%;
    height: calc(100% - 6.5rem);
    overflow: auto;
    padding-bottom: 2rem;
}

/* Category navigation */
.category-nav {
    color: #797C80;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 700;
    text-align: center;
    padding: 0 1rem;
}

.category-nav li {
    display: inline-block;
    padding: 1.5rem 0.8rem;
}

.category-nav li:first-child {
    position: relative;
    padding: 0.3rem;
}

.category-nav li:first-child::before {
    content: "";
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    right: 0;
    left: 0;
    border-bottom: 2px solid #9FFF2F;
    width: 2rem;
}

/* Albums */
.recent-play,
.for-you,
.popular-artists {
    display: block;
    color: #FFFFFF;
    padding: 1.5rem;
    flex-wrap: wrap;
    flex-direction: column;
}

/* Cards */
.row {
    margin-top: 2rem;
    gap: 1rem;
}

.recent-play .col {
    width: calc(100% / 6);
}

.for-you .col,
.popular-artists .col {
    width: calc((100% / 6) - 1rem);
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.card img {
    width: 100%;
    height: 100%;
}

.album-title {
    margin-top: 1rem;
    font-size: 1rem;
}

.subtitle {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: #797C80;
}

.popular-artists img {
    border-radius: 50%;
}

/* Player */
.player {
    background-color: #282828;
    height: 6.5rem;
    width: 100%;
}